.main-header {
  -webkit-box-shadow: -2px 1px 15px 0px #000000;
  box-shadow: -2px 1px 15px 0px #000000;
  //background: #FC4C02;
background: #0091ea;
  color: #fff;
  text-align: center;
  display: block;
  padding-top: 10px;
}

.second-header-row {
  -webkit-box-shadow: -2px 1px 15px 0px #000000;
  box-shadow: -2px 1px 15px 0px #000000;
  //background: #0C2340;
background: #ff7043;
  color: #fff;
  width: 100%;
  text-align: center !important;
}

.spacer {
  flex: 1 1 auto;
}
