.main-header {
  -webkit-box-shadow: -2px 1px 15px 0px #000000;
  box-shadow: -2px 1px 15px 0px #000000;
  //background: #FC4C02;
  background: #FC4C02;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FC4C02, #FC4C02);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FC4C02, #FC4C02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  text-align: center;
  display: block;
  padding-top: 10px;
}

.second-header-row {
  -webkit-box-shadow: -2px 1px 15px 0px #000000;
  box-shadow: -2px 1px 15px 0px #000000;
  //background: #0C2340;
  background: #0C2340;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C2340, #0C2340);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C2340, #0C2340); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  width: 100%;
  text-align: center !important;
}

.spacer {
  flex: 1 1 auto;
}
