#noHeader {
  text-decoration: underline;
}

#noMain {
  color: white;
}

#dateHeader {
  text-decoration: underline;
}

#dateMain {
  color: white;
}

#raceHeader {
  text-decoration: underline;
}

#raceMain {
  color: white;
}

#distanceHeader {
  text-decoration: underline;
}

#distanceMain {
  color: white;
}

#locationHeader {
  text-decoration: underline;
}

#locationMain {
  color: white;
}

#expacPan {
  background: #0091ea;
  color: white;
}

