.main-header {
  -webkit-box-shadow: -2px 1px 15px 0px #000000;
  box-shadow: -2px 1px 15px 0px #000000;
  //background: #FC4C02;
background: #003B3E;
  color: #fff;
  text-align: center !important;
  padding-top: 10px;
  height: 100% !important;
}

.second-header-row {
  -webkit-box-shadow: -2px 1px 15px 0px #000000;
  box-shadow: -2px 1px 15px 0px #000000;
  //background: #0C2340;
background: #FF5F0A;
  color: #fff;
  width: 100%;
  text-align: center !important;
}

.spacer {
  flex: 1 1 auto;
}
