<mat-toolbar color="primary">

  <mat-toolbar-row class="main-header">
    <span class="spacer"></span>
    <div class="row">
    <img src="https://s3.amazonaws.com/5280running/runningLogo.png">
    </div>
    <span class="spacer"></span>
  </mat-toolbar-row>


    <mat-toolbar-row class="second-header-row">
      <span class="spacer"></span>
        <span>Home</span>
      <span class="spacer"></span>
        <span>Running Buddy Finder</span>
      <span class="spacer"></span>

      <dh-headerModal></dh-headerModal>

      {{ message }}

  </mat-toolbar-row>

</mat-toolbar>
