<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
  id="expacPan" *ngFor="let race of races">
    <mat-expansion-panel-header>
      <div class="container">
        <div class="row">
          <h6><span id="noHeader">No</span>:</h6>
          <mat-panel-title>
            <h5 id="noMain">&nbsp;{{race.id}}</h5>
          </mat-panel-title>

          <h6><span id="dateHeader">Date</span>:</h6>
          <mat-panel-title>
            <h5 id="dateMain">&nbsp;{{race.activityStartDate}}</h5>
          </mat-panel-title>

          <h6><span id="raceHeader">Race</span>:</h6>
          <mat-panel-title>
            <h5 id="raceMain">&nbsp;{{race.assetName}}</h5>
          </mat-panel-title>

          <!--<h6><span id="distanceHeader">Website</span>:</h6>-->
          <!--<mat-panel-title>-->
            <!--<h5 id="distanceMain">&nbsp;{{this.website}}</h5>-->
          <!--</mat-panel-title>-->

          <!--<h6><span id="locationHeader">Location</span>:</h6>-->
          <!--<mat-panel-title>-->
            <!--<h5 id="locationMain">&nbsp;{{racesModel.location}}</h5>-->
          <!--</mat-panel-title>-->

          <mat-panel-description>
            Click for more information. {{panelOpenState ? '' : ''}}
          </mat-panel-description>

        </div>
      </div>
    </mat-expansion-panel-header>
    <mat-panel-title>
      <h6>Event Website: </h6>
      <a href={{race.website}} target="_blank" style="color: #FFFFFF">&nbsp; {{race.website}}</a>
    </mat-panel-title>
    <br>
    <mat-panel-title>
      <h6>Area Location: </h6>
      <span>{{race.placeName}}</span>

    </mat-panel-title>

  </mat-expansion-panel>


  <mat-divider></mat-divider>

</mat-accordion>

<mat-divider></mat-divider>

<button (click)="showRaceReponse()">getResponse</button>
