<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       id="expacPan" *ngFor="let race of races">
    <mat-expansion-panel-header class="expanHeaderCustom">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
          <mat-panel-title>
            <img src={{race.logoImage}} class="logoImage">
          </mat-panel-title>
          </div>

          <div class="col-md-3">
          <h6><span id="dateHeader">Race</span>:</h6>
          <mat-panel-title>
            <p id="dateMain">{{race.assetName}}</p>
          </mat-panel-title>
          </div>
          <span class="spacer"></span>

          <div class="col-md-3">
          <h6><span id="raceHeader">Date</span>:</h6>
          <mat-panel-title>
            <p id="raceMain">{{race.activityStartDate}}</p>
          </mat-panel-title>
          </div>
          <span class="spacer"></span>
           {{panelOpenState ? '' : ''}}
        </div>
      </div>
    </mat-expansion-panel-header>
    <mat-panel-title>
      <h6>Event Website: </h6>
      <a href={{race.website}} target="_blank" style="color: #FFFFFF">&nbsp; {{race.website}}</a>
    </mat-panel-title>
    <br>
    <mat-panel-title>
      <h6>Area Location: </h6>
      <span>{{race.placeName}}</span>
    </mat-panel-title>

  </mat-expansion-panel>

  <mat-divider></mat-divider>

</mat-accordion>

<mat-divider></mat-divider>

<button (click)="showRaceReponse()">getResponse</button>
